<h2>Adicionar Produto</h2>

<form method="post">

    <div class="form-group">
        <label for="txtNome">Nome:</label>
        <input class="form-control" type="text" name="nome" id="txtNome" value="@Model.Nome" autofocus>
    </div>

    <div class="form-group">
        <label>Preço:</label>
        <input class="form-control" type="text" value="@Model.Preco" name="preco">
    </div>

    <div class="form-group"> 
        <label>Tipo:</label>
        <input class="form-control" type="text" value="@Model.Tipo" name="tipo">
    </div>

    <div class="form-group">
        <label >Quantidade:</label>
        <input class="form-control" type="text" value="@Model.Qtde" name="qtde">
    </div>

    <div class="form-group">
        <button class="btn btn-outline-secondary">Salvar</button>
        <a class="btn btn-outline-info" href="~/Produtos">Cancelar</a>
    </div>
</form>